*{
    margin: 0px;
}

.box{
    width: 900px;
    float: right;
    border: 1px solid none;
}
.box ul li{
    width: 200px;
    float: left;
    margin: 10px auto;
    text-align: center;
}
.box ul li a{
    text-decoration: none;
    color: darkgray;
}
.box ul li:hover{
    background-color: rgb(199, 108, 123);
}
.box ul li a:hover{
    color: white;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: linear-gradient(rgba(0, 0 ,0, 0.95), rgba(0, 0 ,0, 0.65), rgba(0, 0 ,0 , 0.38), rgba(0, 0 ,0, 0)), url("images/bas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}