*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(163, 140, 8, 0.95), rgba(121, 112, 29, 0.65), rgba(94, 87, 26, 0.38), rgba(129, 122, 25, 0.95)),
    #A80C33;
}
.calendar{
    position: relative;
    width: 500px;
    height: 500px;
    background: #DBAE51;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.calendar #monthName{
    position: relative;
    padding: 5px 10px;
    background:#A80C33;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.calendar #dayName{
    margin-top: 60px;
    font-size: 60px;
    font-weight: 300;
    color: thistle;
}
.calendar #dayNumber{
    margin-top: 0px;
    font-size: 200px;
    line-height: 1em;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.calendar #year{
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 500;
    color: thistle;
}