*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(129, 5, 5, 0.89), rgba(121, 29, 29, 0.65), rgba(94, 26, 26, 0.38), rgba(129, 25, 25, 0.95)),
    #DBAE51;
}
.calendar{
    position: relative;
    width: 500px;
    height: 500px;
    background: #DBAE51;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.calendar #monthName{
    position: relative;
    padding: 5px 10px;
    background:#a85f0c;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.calendar #dayName{
    margin-top: 60px;
    font-size: 60px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.calendar #dayNumber{
    margin-top: 0px;
    font-size: 200px;
    line-height: 1em;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.calendar #year{
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}