*{
    margin: 0px;
}
h1 {
    text-align: center;
    color: antiquewhite;
}
p{ 
    text-align: center;
    color:rgb(202, 196, 200);
}
body {
    background-color: rgb(19, 16, 17);
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(rgba(0.95, 0.95 ,0.95, 0.95), rgba(0.65, 0.65 ,0.65 , 0.65), rgba(0.38, 0.38 ,0.38 , 0.38), rgba(0.95, 0.65 ,0.38, 0.95)), 
    url("images/fin.png");
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.logo{
    width: 50px;
    float: left;
    border: 1px solid none;
    right: 1200px;
}
.box{
    width: 1200px;
    float: center;
    border: 1px solid none;
}
.box ul li{
    width: 200px;
    float: left;
    margin: 10px auto;
    text-align: center;
}
.box ul li a{
    text-decoration: none;
    color: darkgray;
}
.box ul li:hover{
    background-color: rgb(199, 108, 123);
}
.box ul li a:hover{
    color: white;
}
.active{
    font-weight: bold;
    color:rgb(255, 255, 255);
}
.text-container p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:rgb(221, 213, 216);
    font-size: 25px;
}
.text-container p:nth-child(2){
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(255, 153, 0);
    font-size: 40px;
}
.text-container p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:rgb(221, 213, 216);
    font-size: 25px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 50px 1px 25px;
}
.text-container{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-15%, -45%);
}
.photos{
    border: 2px solid #373636;
    color: #373636;
}
.videos{
    border: 2px solid #373636;
    color: #373636;
}
.thoughts{
    border: 2px solid #373636;
    color: #373636;
}
.Vaccination{
    border: 2px solid #373636;
    color: #373636;
}
button:active{
    transform:scale(1.1);
}
.me{
    height: 600px;
    position: absolute;
    bottom: 40px;
    right: 60px;
    transform: translateX(-20%);
}
.about-container{
    width: 80%;
    height: 330px;
    background-color: rgb(31, 25, 25);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.9;
}
.about-container img{
    height: 250px;
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: white;
    font-family: fantasy;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
}
.about-text p:nth-child(2){
    color: rgb(202, 182, 182);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
}
.about-text p:nth-child(3), .about-text p:nth-child(4){
    color: rgb(211, 211, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.text-container button{
    width: 120px;
    height: 40px;
    color: rgb(245, 245, 245);
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262525;
}
.one, .two, .three{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}
.box-container{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.one{
    background-image: url("images/a.png");
}
.two{
    background-image: url("images/c.png");
}
.three{
    background-image: url("images/b.png");
}
.contact-me{
    width: 100%;
    height: 280px;
    background-image: linear-gradient(rgba(0.95, 0.95 ,0.95, 0.95), rgba(0.65, 0.65 ,0.65 , 0.65), rgba(0.38, 0.38 ,0.38 , 0.38), rgba(0.95, 0.65 ,0.38, 0.95)), 
    url("images/fin.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contact-me p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color: rgb(56, 54, 52);
    font-size: 14px;
    font-weight: bold;
    color: rgb(156, 156, 156);
}
footer{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(39, 38, 38);
}
footer p{
    font-family: fantasy;
    color: rgb(255, 255, 255);
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: darkgrey;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    line-height: 0px;
}
.social-icons a i{
    color: rgb(0, 0, 0);
    font-size: 20px;
}